name: textlint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  textlint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: pnpm/action-setup@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 18
        cache: 'pnpm'
    - name: Install deps
      run: pnpm install
    - name: Run textlint
      run: pnpm run lint
